* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img,
.stylist {
    max-width: 300px;
    max-height: 300px;
}

ul,
a {
    text-decoration: none;
    list-style-type: none;
    color: black;
}

.nav-header {
    display: flex;
    padding: 20px 40px;
    align-items: center;
    justify-content: space-around;
}

.list-container {
    display: flex;
    width: 70vw;
    padding: 20px;
}

.header__links {
    padding: 10px;
}

.icon1,
.icon2 {
    width: 50px;
    height: 50px;
}

.icon1 {
    background: url(./images/icon.png) left no-repeat; 
}

.icon2 {
    background: url(./images/login.png) left no-repeat;
}



.stylist-photo {
    max-width: 300px;
    max-height: 300px;
}

.page3 {
    height: 70vh;
    width: 100vw;
}

.stylists-images {
    display: flex;
    flex-direction: row;
    border: 1px solid blue;
}